<!DOCTYPE html>
<html lang="fr-FR">
 <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# openrating: http://ogp.me/ns/fb/openrating#">
  <meta property="fb:app_id" content="437498466268409" /> 
  <meta property="og:type"   content="openrating:country" /> 
  <meta property="og:url"    content="http://www.cinequant.com/open-rating" /> 
  <meta property="og:title"  content="{{country}}" /> 
  <meta property="og:image"  content="https://s-static.ak.fbcdn.net/images/devsite/attachment_blank.png" />
  <meta property="og:rating"  content="AA" />


<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>

  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '437498466268409', // App ID
        status     : true, // check login status
        cookie     : true, // enable cookies to allow the server to access the session
        xfbml      : true  // parse XFBML
      });
    };

    // Load the SDK Asynchronously
    (function(d){
      var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
      js = d.createElement('script'); js.id = id; js.async = true;
      js.src = "//connect.facebook.net/en_US/all.js";
      d.getElementsByTagName('head')[0].appendChild(js);
    }(document));
  </script>

 <script type="text/javascript">
  function postCook()
  {
      FB.api(
        '/me/openrating:rate',
        'post',
        { country: 'http://www.cinequant.com/opengraph?country={{country}}',
  access_token:'AAAGN5wyr9PkBAOFxAjHsZCiVZA7uDhyPmIsaJArA6NhjaDzsX6yNvszi8aeyoPzi5L3p7q7fqSXhZC4jtg5nOywNk2mTSoZCjdKW3lsnsAZDZD',
  },

        function(response) {
           if (!response || response.error) {
              alert('Error occured');
           } else {
              alert('Cook was successful! Action ID: ' + response.id);
           }
        });
  }
  </script>


<div id="fenetre">
  <h1>Open Rating, l'application de notation souveraine</h1>

  <form>
    <input type="button" value="Cook" onclick="postCook()" />
  </form>
</div>
<div id="footer">Open Rating a été développé par Cinequant SAS</div>


<div id="backgroundPopup" style="height: 611px; display: none; opacity: 0.7; "></div>

</body>
</html>

