<!DOCTYPE html>
<html lang="fr-FR">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# openrating: http://ogp.me/ns/fb/openrating#">

<meta property="fb:app_id" content="437498466268409" />
<meta property="og:type"   content="openrating:country" />
<meta property="og:url"    content="http://www.cinequant.com/open-rating?country={{country}}&note={{note}}" />
<meta property="og:title"  content="{{country}} {{note}}" />
<meta property="og:description"  content="{{country}} {{note}}" />
<meta property="og:image"  content="http://www.cinequant.com/static/open-rating/{{note}}.png" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<meta name="robots" content="all"/>
<meta name="description" content="Outil de notation de dette souveraine open-source open rating"/>
<meta name="keywords" content="notation, rating, dette, souveraine, agence de notation, agence, open"/>

<title>Open Rating, by Cinequant</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

<script src="static/open-rating/jquery.tools.min.js"></script>

<script src="static/open-rating/note.js"></script>
<script src="static/open-rating/open_rating_data.js"></script>
<script src="static/open-rating/openRating.js"></script>

<link href="static/open-rating/style.css" rel="stylesheet" type="text/css" media="screen">
<link href="static/open-rating/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
